<div class="col-md-6">
	<h1><a href="/"><%= title %></a></h1>
</div>

<div class="col-md-4">
	<ul class="nav navbar-nav navbar-right">
		<% _.each(cats, function(el) { %>
			<li><a href="/<%= el.id %>"><%= el.name %></a></li>	
		<% }); %>
	</ul>
</div>

<div class="icons__block col-md-2">
	<a class="cart__btn btn btn-default" href="/cart" title="Shopping cart"><i class="fa fa-shopping-cart fa-2x"></i></a>
	<% if (!user) { %>
		<a class="user__btn btn btn-success" href="/login" title="Sign in or register"><i class="fa fa-sign-in fa-2x"></i></a>
	<% } else { %>
		<form class="user__logout" method="post" action="/logout">
			<button class="user__btn btn btn-danger" type="submit" title="Click to log out"><i class="fa fa-sign-out fa-2x"></i></button>
		</form>
	<% } %>
</div>