<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
</head>
  	
<body>
	<div class="container">

		<header class="header">
			<% include partials/header %>
		</header>

		<ul class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="/cart">Cart</a></li>
		</ul>

		<main class="col-sm-12 cart">
		<% if (cart.total == 0) { %>
			<h1 class="warning">Your cart is empty now.</h1>
		<% } %>
		<% _.each(cart.prod, function(el) { %>			
			<div class="row cart__product__element">
				<div class="col-sm-2 cart__product__image">
				<% _.each(el.image, function(item) { %>
					<% if ((item.view_type === 'small') && (item.variation_value === undefined)) { %>
						<img src="/images/<%= item.images[0].link %>">
					<% } %>					
				<% }); %>
				</div>
				<div class="col-sm-6 cart__product__info">
				<% _.each(cats, function(category) { %>
					<% _.each(category.categories, function(subcategory) { %>	
						<% _.each(subcategory.categories, function(product_type) { %>	
							<% if (product_type.id === el.parentId) {%>
								<p><a href="<%= subcategory.parent_category_id %>/<%= product_type.parent_category_id %>/<%= el.parentId %>/<%= el.id %>"><%= el.name %></a></p>
							<% } %>
						<% }); %>
					<% }); %>
				<% }); %>
				</div>
				<div class="col-sm-2 cart__product__qty">
					<form class="minus__btn" method="post" action="/cart/<%= el.id %>">				
						
						<button class="btn btn-danger lg-btn" type="submit">
							<i class="fa fa-minus-square"></i>
						</button>
						<input type="hidden" name="_method" value="delete" />
					</form>

					<p><%= el.qty %></p>

					<form class="plus__btn" method="post" action="/cart/<%= el.id %>">
						<button type="submit" class="btn btn-success lg-btn">
							<i class="fa fa-plus-square"></i>
						</button>
					</form>
					
				</div>
				<div class="col-sm-2 cart__product__price">
					<p><%= (el.qty * el.price).toFixed(2, 10) %>$</p>
				</div>
			</div>
		<% }); %>
			
			<div class="row">
				<div class="col-sm-12 total__price">
					<p class="">Total: <%= cart.total %>$</p>
				</div>
			</div>
		</main>

		<footer class="footer col-sm-12">
			<% include partials/footer %>
		</footer>

	</div><!--end of container block-->

	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/main.js"></script>

</body>
</html>