<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
</head>
<body>	
	<div class="container">

		<header class="header">
			<% include partials/header %>
		</header>
	

		<ul class="breadcrumb">
			<li><a href="/">Home</a></li>			
			<% _.each(cats, function(category) { %>
			<% if (category.id === catName) {%>
				<li><a href="/<%= category.id %>"><%= category.name %></a></li>
				<% } %>
			<% }); %>
		</ul>
		
		<main class="col-sm-12">
		<% _.each(items, function(topC) { %>

			<h1><%= topC.page_title %></h1>
			<div>
			<% _.each(topC.categories, function(subC) { %>
				<div>
					<h2><%= subC.name %></h1>
					<% if (subC.image) { %>
						<img class="section__image" src="/images/<%= subC.image %>">
					<% } %>
					<p><%- subC.page_description %></p>
					<p><a class="btn btn-primary btn-sm" href="/<%= catName %>/<%= subC.id %>" role="button"><%=button_text%></a></p>
				</div>
			<% }); %>
			</div>
		<% }); %>
		</main>

		<footer class="footer col-sm-12">
			<% include partials/footer %>
		</footer>

	</div><!--end of container block-->

	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/main.js"></script>

</body>
</html>