<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
</head>
  	
<body>
	<div class="container">

		<header class="header">
			<% include partials/header %>
		</header>

		<ul class="breadcrumb">
			<li><a href="/">Home</a></li>
		</ul>

		<main class="col-sm-12">
			<% _.each(items, function(topC) { %>
			<div class="category_block">
				<h1><%= topC.name %></h1>
				<p><%= topC.page_description %></p>
				<% if (topC.image) { %>
					<img src="/images/<%= topC.image %>">
				<% } %>
				<p><a class="btn btn-primary btn-sm" href="/<%= topC.id %>" role="button"><%=button_text%></a></p>
			</div>
			<% }); %>
		</main>

		<footer class="footer col-sm-12">
			<% include partials/footer %>
		</footer>

	</div><!--end of container block-->

	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/main.js"></script>

</body>
</html>