<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
</head>

<body>
	<div class="container">

		<header class="header">
			<% include partials/header %>
		</header>

		<ul class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="/login">Login</a></li>
		</ul>

		<main class="col-sm-12">
			<form class="login__form jumbotron col-sm-6" method="post" action="/login">
				<label for="userEmail">E-mail:</label>
				<input class="text__input" type="email" name="userEmail" id="userEmail" placeholder="Enter your email" required>
				<label for="userPassword">Password:</label>
				<input class="text__input" type="password" name="userPassword" id="userPassword" placeholder="Enter you password" required>
				<% if (message.length > 0) { %>
					<p class="alert alert-danger" role="alert"><%= message %></p>
				<% } %>
				<input type="submit" class="btn btn-success" value="<%= button_text %>">
				<p class="register">If you are not registered yet,</br>please use <a href="/signup">sign up</a> form</p>
			</form>
		</main>

		<footer class="footer col-sm-12">
			<% include partials/footer %>
		</footer>

	</div><!--end of container block-->

	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/main.js"></script>

</body>
</html>