<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
</head>
  	
<body>
	<div class="container">

		<header class="header">
			<% include partials/header %>
		</header>

		<ul class="breadcrumb">
			<li><a href="/">Home</a></li>
			<% _.each(cats, function(category) { %>
			<% if (category.id === catName) {%>
				<li><a href="/<%= category.id %>"><%= category.name %></a></li>
				<% _.each(category.categories, function(subcategory) { %>	
					<% if (subcategory.id === subCatName) {%>			
						<li><a href="/<%= category.id %>/<%= subcategory.id%>"><%= subcategory.name %></a></li>
						<% _.each(subcategory.categories, function(product_type) { %>	
							<% if (product_type.id === prodCatName) {%>			
								<li><a href="/<%= category.id %>/<%= subcategory.id%>/<%= product_type.id%>"><%= product_type.name %></a></li>
							<% } %>
						<% }); %>
					<% } %>
				<% }); %>
				<% } %>
			<% }); %>
		</ul>
		
		<main class="col-sm-12">
		<div class="row">
		<% _.each(items, function(prods) { %>		
			<div class="product__block col-sm-6">
				<div>
					<h2><%= prods.name %></h2>
					<% _.each(prods.image_groups, function(item) { %>
						<% if ((item.view_type === 'medium') && (item.variation_value === undefined)) { %>
							<img class="product__image pull-left" src="/images/<%= item.images[0].link %>">
						<% } %>
					<% }); %>
					<p class="product__desc"><%- prods.page_description %></p>
					<p class="product__price pull-left">Price: $<%= prods.price %></p>
					<p class="pull-right"><a class="btn btn-primary btn-sm" href="/<%= catName %>/<%= subCatName %>/<%= prodCatName %>/<%= prods.id %>" role="button"><%=button_text%></a></p>
				</div>
			</div>
		<% }); %>
		</div>
		</main>

		<footer>
			<% include partials/footer %>
		</footer>

	</div><!--end of container block-->

	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/main.js"></script>

</body>
</html>