<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
</head>

<body>
	<div class="container">

		<header class="header">
			<% include partials/header %>
		</header>

		<ul class="breadcrumb">
			<li><a href="/">Home</a></li>
			<% _.each(cats, function(category) { %>
			<% if (category.id === catName) {%>
				<li><a href="/<%= category.id %>"><%= category.name %></a></li>
				<% _.each(category.categories, function(subcategory) { %>	
				<% if (subcategory.id === subCatName) {%>			
					<li><a href="/<%= category.id %>/<%= subcategory.id%>"><%= subcategory.name %></a></li>
					<% _.each(subcategory.categories, function(product_type) { %>	
						<% if (product_type.id === prodCatName) {%>			
							<li><a href="/<%= category.id %>/<%= subcategory.id%>/<%= product_type.id%>"><%= product_type.name %></a></li>
							<% _.each(items, function(product_name) { %>	
								<% if (product_name.id === prodID) {%>			
									<li><a href="/<%= category.id %>/<%= subcategory.id%>/<%= product_type.id%>/<%= product_name.id %>"><%= product_name.name %></a></li>
								<% } %>
							<% }); %>
						<% } %>
					<% }); %>
				<% } %>
				<% }); %>
			<% } %>
			<% }); %>
		</ul>
		
		<main class="col-sm-12">
		<% _.each(items, function(prods) { %>
			<div class="image__block pull-left">
				<% _.each(prods.image_groups, function(item) { %>
					<% if ((item.view_type === 'large') && (item.variation_value === undefined)) { %>
					<div class="large__image__block">
						<img class="product__image" src="/images/<%= item.images[0].link %>">
					</div>
					<% } %>
					<% if ((item.view_type === 'small') && (item.variation_value === undefined)) { %>
					<% _.each(item.images.slice(1), function(el) { %>
						<img class="product__image pull-left" src="/images/<%= el.link %>">
					<% }); %>
					<% } %>
				<% }); %>
			</div>
			<h2><%= prods.name %></h2>			
			<p class="product__desc"><%- prods.long_description %></p>
			<p class="product__price pull-left">Price: <span id="price"><%= prods.price %></span></p>
			<select class="currency__picker" name="currency__picker" id="picker">
				<option value="USD">usd</option>
				<option value="EUR">eur</option>
				<option value="RON">ron</option>
				<option value="UAH">uah</option>
			</select>
			<form method="post" action="/cart/<%= prods.id %>" class="pull-right">
				<input type="submit" class="btn btn-primary btn-sm" role="button" value="<%=button_text%>">
			</form>		
		<% }); %>
		</main>
		
		<footer>
			<% include partials/footer %>
		</footer>

	</div><!--end of container block-->

	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/main.js"></script>

</body>
</html>