<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
</head>

<body>
	<div class="container">

		<header class="header">
			<% include partials/header %>
		</header>

		<ul class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="/signup">Sign Up</a></li>
		</ul>

		<main class="col-sm-12 cart">
			<form class="signup__form jumbotron col-sm-6" method="post" action="/signup">
				<label for="userName">Name:</label>
				<input class="text__input" type="text" id="userName" name="userName" placeholder="Enter your name" required>
				<label for="userEmail">E-mail:</label>
				<input class="text__input" type="email" id="userEmail" name="userEmail" placeholder="Enter your email" required>
				<% if (message.length > 0) { %>
					<p class="alert alert-danger" role="alert"><%= message %></p>
				<% } %>
				<label for="userPassword">Password:</label>
				<input class="text__input" type="password" name="password" id="userPassword" placeholder="Enter you password" required>
				<label for="passwordConfirm">Confirm password:</label>
				<input class="text__input" type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Confirm your password" required>
				<input type="submit" class="btn btn-success" id="registerBtn" value="Register" disabled>
			</form>
		</main>

		<footer class="footer col-sm-12">
			<% include partials/footer %>
		</footer>

	</div><!--end of container block-->

	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/main.js"></script>

</body>
</html>