<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
</head>
  	
<body>
	<div class="container">

		<header class="header">
			<% include partials/header %>
		</header>

		<ul class="breadcrumb">
			<li><a href="/">Home</a></li>
			<% _.each(cats, function(category) { %>
			<% if (category.id === catName) {%>
				<li><a href="/<%= category.id %>"><%= category.name %></a></li>
				<% _.each(category.categories, function(subcategory) { %>	
					<% if (subcategory.id === subCatName) {%>			
						<li><a href="/<%= category.id %>/<%= subcategory.id%>"><%= subcategory.name %></a></li>
					<% } %>
				<% }); %>
				<% } %>
			<% }); %>
		</ul>
		
		<main class="col-sm-12">
		<% _.each(items, function(topC) { %>
			<% _.each(topC.categories, function(subC) { %>				
					<% if (subC.id === subCatName) { %>
					<h1><%= subC.page_title %></h1>					
					<div>
					<% _.each(subC.categories, function(products) { %>
						<div>
							<h2><%= products.name %></h2>
							<% if (products.image) { %>
								<img class="section__image" src="/images/<%= products.image %>">
							<% } %>
							<p><%- products.page_description %></p>
							<p><a class="btn btn-primary btn-sm" href="/<%= catName %>/<%= subCatName %>/<%= products.id %>" role="button"><%=button_text%></a></p>
						</div>					
					<% }); %>
					</div>
					<% } %>
					
			<% }); %>
		<% }); %>
		</main>


		<footer>
			<% include partials/footer %>
		</footer>

	</div><!--end of container block-->

	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/main.js"></script>

</body>
</html>