/*GENERAL*/

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	color: #777;
}

a {
	color: #00B7FF;
	transition: .5s ease;
}

a:hover {
	text-decoration: none;
	transition: .5s ease;
}

ul, ol {
	list-style: none;
}

img {
	margin-bottom: 10px;
}

/*HEADER*/

.header {
	overflow: auto;
}

.header h1 {
	margin: 0;
	line-height: 69px;
}

.header h1 a {
	color: #777;
	text-decoration: none;
}

.header .nav a {
	font-size: 1.5em;
	height: 69px;
	line-height: 39px;
}

.icons__block {
	text-align: right;
	line-height: 69px;
}

.user__logout {
	display: inline-block;
}

.cart__btn,
.user__btn {
	color: #444;
}

.user__btn {
	line-height: 30px;
}

.cart__btn {
	margin-right: 10px;
	line-height: 30px;
}

.cart__btn i,
.user__btn i {
	position: relative;
	top: 4px;
}

/*MAIN*/
 
main {
	margin-bottom: 50px;
}

.section__image {
	width: 100%;
}

.breadcrumb li:last-of-type a {
	color: #777;
}

.image__block	{
	max-width: 33%;
	margin-right: 20px;
}

.product__block {
	min-height: 350px;
}

.product__image {
	margin-right: 20px;
}

.product__desc {
	margin-bottom: 30px;
}

.product__price {
	line-height: 30px;
}

.large__image__block {
	overflow: auto;
	text-align: center;
}

.large__image__block .product__image {
	max-width: 100%;
}

.image__block .product__image:last-of-type {
	margin-right: 0;
}

.currency__picker {
	margin-left: 5px;
	height: 30px;
	text-transform: uppercase;
}

/*CART*/
.cart .warning {
	text-align: center;
	margin-bottom: 30px;
}

.cart__product__element {
	border-radius: 4px;
}

.cart__product__element:nth-of-type(2n) {
	background: #f0f0f0;
}

.cart__product__image img {
	margin-top: 10px;
	max-width: 90px;
}

.cart__product__qty {
	display: table;
	text-align: center;
}

.cart__product__qty form {
	display: table-cell;
	vertical-align: middle;
}

.minus__btn {
	text-align: left;
}

.plus__btn {
	text-align: right;
}

.cart__product__info,
.cart__product__qty,
.cart__product__price {
	height: 110px;
} 

.cart__product__info p,
.cart__product__qty p,
.cart__product__price p {
	font-size: 1.5em;
	line-height: 110px;
	margin: 0;
} 

.cart__product__qty,
.cart__product__price {
	text-align: right;
}

.total__price {
	font-size: 1.5em;
	padding-top: 45px;
	text-align: right;
	border-top: 1px solid #777;
}

/*LOGIN FORM & SIGNUP FORM*/

.login__form,
.signup__form {
	margin: auto;
	float: none;
	text-align: center;
	font-size: 1.25em;
}

.login__form .register {
	margin-top: 15px;
}

.text__input {
	display: block;
	margin: auto;
	margin-bottom: 15px;
	width: 65%;
	padding: 10px 15px;
	border-radius: 4px;
	border: 1px solid #ddd;
}

.text__input:hover,
.text__input:focus {
	outline: none;
	background: #fcfcfc;
}

/*FOOTER*/

footer {
	clear: both;
	border-top: 1px solid #777;
	padding-top: 20px;
}